div.main-block {
	// min-height: 100vh;
	// display: flex;
	// overflow: hidden;
	// flex-flow: row nowrap;
	// right: 0;
	// transition: transform 1s;

	// &.open {
	// transform: translateX(calc(-100%));
	// }

	& > div.main-col {
		min-width: 100%;
		min-height: 100vh;
	}
	& > div.side-col {
		position: fixed;
		right: 0;
		top: 60px;
		height: calc(100vw - 60px);
		transform: translateX(100%);
	}
}
